@using MindOverMatter.Models.ViewModels;
@model RatingModalModel
<div class="modal-header">
    <button id="close" type="button" class="btn btn-warning" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    <div id="NameBox">
        <label id="theName">@Model.MoleculeName</label>
    </div>
    <form id="RatingForm" method="post" action="@Url.Action("RateName", "Chemical")">
        <p>How did we do?</p>
        <div class="center">
            <label for="1">
                1<br />
                <input id="1" class="star {split:4}" type="radio" value="1" name="rating" />
            </label>
            <label for="2">
                2<br />
                <input id="2" class="star {split:4}" type="radio" value="2" name="rating" />
            </label>
            <label for="3">
                3<br />
                <input id="3" class="star {split:4}" type="radio" value="3" name="rating" />
            </label>
            <label for="4">
                4<br />
                <input id="4" class="star {split:4}" type="radio" value="4" name="rating" />
            </label>
            <label for="5">
                5<br />
                <input id="5" class="star {split:4}" type="radio" value="5" name="rating" />
            </label>
            <input name="moleculeJson" id="moleculeJson" type="hidden" value="@Model.MoleculeJson"/>
            <input name="name" id="name" type="hidden" value="@Model.MoleculeName"/>                      
        </div>
        <br />
        <input id="rate" type="submit" value="Submit Rating" />
    </form>
    
</div>
<input type="hidden" id="MainChainJson" value="@Model.MainChainJson"/>
