<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@ViewBag.Style" type="text/css" />
    <script src="@ViewBag.JavaScript"></script>
</head>
<body>
    <div id="topBar">
        <div id="navBar">
            <asp:Button CssClass="navItem" ID="btnHome" href="~/Home.aspx" runat="server" Text="Home" />
            @Html.ActionLink("Home", "Index", "Home");
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
