@using Microsoft.EntityFrameworkCore;
@using MindOverMatter.Models.User;
@using MindOverMatter.Models.Matter;
@using MindOverMatter.Models.ViewModels;

@{
    ViewBag.Style = "Account.css";
    Layout = "~/Views/_Layout.csHtml";
}

@model AdminViewModel

@*<form id="RatingForm" method="post" action="@Url.Action("AddAdmin", "Account")">
    <input type="text" name="UserName" />
    <input type="submit" id="AddNewAdmint" value="Add New Administrator"/>
</form>*@

<table class="adminGrid">
    <tr><th>UserId</th><th>Rating Score</th><th>Molecule Name</th><th>Molecule Json</th></tr>
    @foreach (Rating rating in Model.Ratings)
    {
        <tr class="adminGrid">
            <td class="adminGrid">@rating.UserId</td>
            <td class="adminGrid">@rating.Score</td>
            <td class="adminGrid">@Model.Molecules[rating.MoleculeId].Name</td>
            <td class="adminGrid">@Model.Molecules[rating.MoleculeId].MoleculeJson</td>
        </tr>
    }
</table>
